BOT_TOKEN=8501152138:AAEnq3aGWVSkSRSmSrk8pe_4zelCNeQovn0
DAILY_REWARD_NAIRA=500
CHANNEL_ID=@rewardbmax
CHANNEL_URL=https://t.me/rewardbmax
TELEGRAM_CHANNEL_1_ID=@channeltask001
TELEGRAM_CHANNEL_1_URL=https://t.me/channeltask001
TELEGRAM_CHANNEL_2_ID=@channeltask002
TELEGRAM_CHANNEL_2_URL=https://t.me/channeltask002
CHANNEL_TASK_REWARD_NAIRA=600
REFERRAL_REWARD_NAIRA=500
WITHDRAWAL_DATE=2026-09-20
MIN_REFERRALS=20
MIN_WITHDRAWAL_NAIRA=11000
MAX_WITHDRAWAL_NAIRA=100000
DATABASE_PATH=rewards.db